---
title: "Liquid Projections"
layout: splash
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#373737"
  overlay_filter: "0.7"
  overlay_image: "/assets/images/liquidprojections.svg"
  cta_label: "Get them from NuGet now!"
  cta_url: "https://www.nuget.org/packages?q=liquidprojections"
  caption: "Logo by [**Ben Palmer**](https://github.com/IUsername) <br/>Icons  by [**Zlatko Najdenovski**](https://www.flaticon.com/authors/zlatko-najdenovski) from [Flaticon](https://www.flaticon.com/)"
excerpt: 'A set of highly efficient building blocks to build fast autonomous synchronous and asynchronous projectors.<br/>
 <br /> 
[![](https://img.shields.io/github/release/liquidprojections/liquidprojections.svg?style=for-the-badge&label=Core, Testing, Owin)](https://github.com/liquidprojections/liquidprojections/releases/latest)
[![](https://img.shields.io/github/release/liquidprojections/liquidprojections.PollingEventStore.svg?style=for-the-badge&label=PollingEventStore)](https://github.com/liquidprojections/liquidprojections.PollingEventStore/releases/latest)
[![](https://img.shields.io/github/release/liquidprojections/liquidprojections.NHibernate.svg?style=for-the-badge&label=NHibernate)](https://github.com/liquidprojections/liquidprojections.NHibernate/releases/latest)
[![](https://img.shields.io/github/release/liquidprojections/liquidprojections.RavenDB.svg?style=for-the-badge&label=RavenDB)](https://github.com/liquidprojections/liquidprojections.RavenDB/releases/latest)
[![](https://img.shields.io/github/release/liquidprojections/liquidprojections.NEventStore.svg?style=for-the-badge&label=NEventStore)](https://github.com/liquidprojections/liquidprojections.NEventStore/releases/latest)
'
intro: 
  - excerpt: '
     [Follow me <i class="fab fa-twitter"></i> @ddoomen](https://twitter.com/ddoomen){: .btn .btn--twitter} 
     <br/>
     Liquid Projections is a set of highly efficient building blocks that each provide value on their own, but shine when used together to build synchronous and asynchronous projectors. '
feature_row:
  - title: "Designed as a Library"
    image_path: /assets/images/brick.svg
    excerpt: "Designed as a set of unopiniated reusable building blocks that each solve specific problems, but can be used together in any way you want."
    btn_label: "Read More"
    btn_class: "btn--primary"
    url: "/about/#principles-of-successful-libraries"
  - title: "Storage Agnostic"
    image_path: /assets/images/servers.svg
    excerpt: "Supports NEventStore, RavenDB and NHibernate through auxiliary packages, but is designed to be connected to any kind of storage."
    btn_label: "Read More"
    btn_class: "btn--primary"
    url: "/getting-started/#connecting-your-projectors-to-an-event-store"
  - title: "Promotes Autonomy"
    image_path: /assets/images/renewable-energy.svg
    excerpt: 'Promotes the idea of autonomous projectors that decide what data to project, where to persist that data, and when to rebuild.'
    btn_label: "Read More"
    btn_class: "btn--primary"
    url: "/about/#characteristics-of-a-great-projector"
feature_row2:
  - title: "Captures Years of Experience"
    image_path: /assets/images/professor.svg
    excerpt: 'Is the culmination of years of experience with building distributed and occassionly-disconnected Event Sourced systems'
    btn_label: "Read More"
    btn_class: "btn--primary"
    url: "https://www.continuousimprover.com/2017/11/event-sourcing-good-bad-and-ugly.html"
  - title: "Battle Tested in Production"
    image_path: /assets/images/tank.svg
    excerpt: "We've been running and improving Liquid Projections since December 2016 in globally deployed enterprise-class systems."
  - title: "Designed for Extensibility"
    image_path: /assets/images/puzzle.svg
    excerpt: "Because the underlying design relies on abstractions and avoids inheritance, it's relatively easy to reuse, extend and adopt."
---

{% include feature_row %}

{% include feature_row id="feature_row2"  %}

{% include feature_row id="feature_row3"  %}

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-2541295231849242"
     data-ad-slot="9721381230"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>  
